body{
    display: flex;
    justify-content: center;
}
.header{
    margin-bottom: 5px;
    position: sticky;
    top: 0;
}
.main{
    width: 900px;
    min-height: 100%;
    background: antiquewhite;
}
nav{
    background: white;
    display: flex;
    margin: 0 -5px;
}
.content{
    margin-left: 15px;
}
.item{
    display: flex;
    margin: 2px 5px;
}
.fill-width {
    flex: 1;
}
@media (max-width: 575px) {
    nav{
        flex-direction: column;
    }
}
